# Finding work and leaving place

In [131]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from datetime import datetime, timedelta
import math

### Get distance between two points

In [132]:
diameter = 500 ##Diameter of POI (in meter)

In [133]:
def distance(lat1,long1,lat2,long2):
    earthRadius = 6371000.0
    
    dLat = math.radians(lat2-lat1)
    dLong = math.radians(long2-long1)
    
    a = math.sin(dLat/2)*math.sin(dLat/2) + math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) * math.sin(dLong/2) * math.sin(dLong/2)
    
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    dist = earthRadius * c
    
    return dist

### Get center of points distribution

In [134]:
def getCenter(latArray, longArray):
    averageLat = 0.0
    averageLong = 0.0
    
    for d in latArray:
        averageLat += d
    for d in longArray:
        averageLong += d
        
    averageLat /= len(latArray)
    averageLong /= len(longArray)
    
    return averageLat, averageLong

## Normalizing POI center

In [136]:
def normalize_POI(poi_dataframe):
    posArray = poi_dataframe['Center']
    temp_general_array = []
    
    for i in range(0, len(posArray)):
        
        
        temp_index_array = []
        temp_lat_array = []
        temp_lng_array = []
        
        if i not in temp_general_array:
            temp_lat_array.append(poi_dataframe.iloc[i]['Center'][0])
            temp_lng_array.append(poi_dataframe.iloc[i]['Center'][1])
            temp_index_array.append(i)
            temp_general_array.append(i)

            for j in range(0,len(posArray)):
                if (distance(posArray[i][0],posArray[i][1],posArray[j][0],posArray[j][1]) < diameter):

                    if i!=j:
                        if j not in temp_general_array:
#                             print(j)
                            temp_index_array.append(j)
                            temp_lat_array.append(poi_dataframe.iloc[j]['Center'][0])
                            temp_lng_array.append(poi_dataframe.iloc[j]['Center'][1])
                            temp_general_array.append(j)

            center = getCenter(temp_lat_array,temp_lng_array)
            print(center)

            for index in temp_index_array:
                poi_dataframe.iloc[index]['Center'] = center
                print(poi_dataframe.iloc[index]['Center'])
                
            return poi_dataframe

In [137]:
test_file_path = "./poi/poi_user_1.csv"

test_df = pd.read_csv(test_file_path)

In [138]:
# test_df['Center'] = test_df[test_df['Center'][1:-1].replace(" ", "").split(',')]

def change_to_pair(row):
    string = row['Center']
    ret = string[1:-1].replace(" ", "").split(',')
    ret[0] = float(ret[0])
    ret[1] = float(ret[1])
    return ret

test_df['Center'] = test_df.apply(change_to_pair, axis=1)

In [129]:
test_df

,Unnamed: 0,Entry_date,DeltaT,Center,Size
0,0,2014-10-04 08:40:42,115383.0,"[43.4093233098101, 3.6875304057658993]",160803
1,1,2014-10-07 12:30:19,67454.0,"[45.77180590163932, 4.869328661202186]",61
2,2,2014-10-08 07:33:46,30925.0,"[45.78580376006621, 4.8792403489572616]",4843
3,3,2014-10-08 16:23:44,54175.0,"[45.77310891933308, 4.8717314202525595]",2719
4,4,2014-10-09 07:37:55,9590.0,"[45.78611514360843, 4.879920111245953]",824
...,...,...,...,...,...
74,74,2014-12-11 00:57:30,11809.0,"[30.266574518716677, -97.74401464349351]",1870
75,75,2014-12-11 04:22:07,22377.0,"[30.25728259295119, -97.75026776149934]",44144
76,76,2014-12-11 10:35:05,13368.0,"[30.25748103715033, -97.75026152489885]",8488
77,77,2014-12-11 16:14:40,12507.0,"[30.265910461304447, -97.73634310085195]",8653
78,78,2014-12-13 00:38:14,8494.0,"[30.26787403162608, -97.74325844668464]",1191

In [139]:
test_df = normalize_POI(test_df)

(43.409320228189394, 3.687526761295314)
[43.4093233098101, 3.6875304057658993]
[43.40931714656869, 3.6875231168247287]

C:\Users\Maxime Dardy\.conda\envs\ML\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [124]:
test_df

,Unnamed: 0,Entry_date,DeltaT,Center,Size
0,0,2014-10-04 08:40:42,115383.0,"[43.4093233098101, 3.6875304057658993]",160803
1,1,2014-10-07 12:30:19,67454.0,"[45.77180590163932, 4.869328661202186]",61
2,2,2014-10-08 07:33:46,30925.0,"[45.78580376006621, 4.8792403489572616]",4843
3,3,2014-10-08 16:23:44,54175.0,"[45.77310891933308, 4.8717314202525595]",2719
4,4,2014-10-09 07:37:55,9590.0,"[45.78611514360843, 4.879920111245953]",824
...,...,...,...,...,...
74,74,2014-12-11 00:57:30,11809.0,"[30.266574518716677, -97.74401464349351]",1870
75,75,2014-12-11 04:22:07,22377.0,"[30.25728259295119, -97.75026776149934]",44144
76,76,2014-12-11 10:35:05,13368.0,"[30.25748103715033, -97.75026152489885]",8488
77,77,2014-12-11 16:14:40,12507.0,"[30.265910461304447, -97.73634310085195]",8653
78,78,2014-12-13 00:38:14,8494.0,"[30.26787403162608, -97.74325844668464]",1191